<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Rate Dishes</h1>
        <p>Find whatever you're craving, see what's good at any restaurant and learn what friends and experts love wherever you go.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1. Find a Restaurant &amp; Dish</h2>
          <p>We are currently in Beta, working only with Vancouver (BC) based restaurants.</p>
        </div>
        <div class="col-md-4">
          <h2>2. Read Dish Reviews</h2>
          <p>After you register, search for a restaurant and read their dish reviews BEFORE you order the food!</p>
       </div>
        <div class="col-md-4">
          <h2>3. Post a Review</h2>
          <p>After you're done with your food, you can rate the food experience you had and share it with others!</p>
        </div>
      </div>
  </div>