<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1>Privacy Policy</h1>
		</div><!-- col-md-6 col-md-offset-3 -->
	</div><!-- end row -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p><small>Effective on May 27th, 2016</small></p>

				<p>Your (“you,” “your”) privacy is important to us at Worth the Tip, Inc. (“we,” “us,” “our,” or “Worth the Tip”), and we want to be as transparent as possible about:
					<ul>
						<li>The kinds of information we collect</li>
						<li>Who we will and will not share this information with</li>
						<li>What choices you have</li>
						<li>What we’re doing to protect your information and what you can do</li>
						<li>When and why we update this policy</li>
					</ul>
				</p>
				
				<p>To this end, we’ve described our practices and policies when it comes to your information below. By visiting, accessing or using the Worth the Tip website (worththetip.io), mobile applications and API and all associated services, features and content (“Service” or “Services”), you acknowledge that:
					<ul>
						<li>You have read and accept the practices and policies described in this Privacy Policy.</li>
						<li>You have read and agree to be bound by our Terms of Service (http://worththetip.io/terms).</li>
						<li>You are over 13 years of age. (This Service is not targeted towards children under the age of 13, nor do we knowingly collect information about children under the age of 13. If you become aware that a child under the age of 13 has provided us with personal information, please let us know at support@worththetip.io and we will do our best to verify and terminate the account.)</li>
					</ul>
				</p>

				<p>This Privacy Policy covers Worth the Tip’s treatment of personally identifiable information (“Personal Information”) that you provide or that we collect as described below. This policy does not apply to the practices of companies that Worth the Tip does not own or control (including any third-party products or services used for logging into the Service or that are integrated with the Service), or to individuals that Worth the Tip does not employ or manage.</p>

				<h3>WHAT PERSONAL INFORMATION DO YOU COLLECT AND HOW WILL YOU USE IT?</h3>

				<p>In order to provide the Worth the Tip Service to you and improve your experience as described below, we may collect the following types of information:</p>

				<h4>Information You Choose to Provide to Us</h4>

				<p>We collect the following types of information on our servers only when you optionally choose to provide it to us by filling out a form, accepting a request for permission or taking some other explicit action: 
					<ul>
						<li>Private Profile Information: In order to take advantage of certain Worth the Tip features and enable us to contact you for the purposes described below, you can optionally create a Worth the Tip account (your “Account”) by providing an email address and creating a password or by logging in using a third party service such as Facebook (your “Account Information”). If you log in using a third party service such as Facebook, the email address that you used to register with that third party service may be used to create your Account, and a password unique to Worth the Tip may be generated for you, which you can change at any time. Passwords are stored using industry standard methods. Your actual password is never stored or visible to Worth the Tip, its agents or employees at any time. Your email address will never be displayed to other users of the Service (unless you separately include it in any public information you provide, which we do not recommend).</li>
						<li>Third Party Connections: In order to facilitate sharing of information between services and find friends who have registered for Worth the Tip, you can connect third party services (such as Facebook and Twitter) using the secure, industry standard connection methods provided by these third parties. When you make a connection between your Worth the Tip account and one of these third party services, the third party service may share certain information about you with Worth the Tip.  These third parties never reveal your passwords to us and are responsible for informing you about what information they will share with Worth the Tip. We will never post content to your third party profiles unless you’ve chosen to enable us to do so by accepting the appropriate request for permission, checking a box or taking some other explicit action.</li>
						<li>Payment Information: We do not directly collect or store any payment information at this time, but may use third party services such as PayPal, The Cookie Payments or Stripe to enable you to purchase Worth the Tip-related products or services. These Terms of Service do not cover third parties’ handling of Personal Information, so if you use these third party services, be sure to review their terms of service and privacy policies.</li>
						<li>Your Contacts: In order to find friends who have registered for Worth the Tip, you can optionally upload contact information from your mobile device by using the Find Contacts feature (if provided) and accepting the appropriate request for permission or prompt. We do not store this information, and never associate it with your Account or other Personal Information.</li>
						<li>Your Current Location: In order to find nearby content more easily and receive targeted information, you can opt into sharing your mobile device or web browser’s location by accepting the appropriate permission or prompt. We never associate your current location with your account information.</li>
					</ul>
				</p>
				
				<p>You can choose not to provide us with any of the information above, but may not be able to take advantage of certain features without creating an Account or providing the appropriate information.</p>

				<h4>Public Information You Choose to Provide to Us</h4>

				<p>Once you’ve created an Account, you can optionally choose to contribute or create the following types of information in accordance with our Terms of Service, which in this document we will refer to as, “Public Information.”</p>

				<p>
					<ul>
						<li>Public Profile Information: When registering or after registering, you can optionally enter in other public profile information such as a public display name, city, website and bio. You can also upload a public profile photo.</li>
						<li>Public Photos: You can select individual photos to upload, tag with information including the location where the photo was taken, and share publicly on Worth the Tip per our Terms of Service. When you upload a photo, any associated metadata your camera might have embedded into that photo, such as the date taken or place taken, may be uploaded as well.</li>
						<li>Public Content: You can create other types of content, such as reviews, ratings, bookmarks and comments, which may be displayed publicly along with associated metadata such as date and time created.</li>
					</ul>
				</p>
			
				<h4>Technical and Usage Information Collected Automatically</h4>

				<p>In order to understand how our Service is being used and to make it better, we also automatically receive, store and log certain types of technical and usage information whenever you interact with our Service. Information of this sort includes:</p>
					<ul>
						<li>Technical information about your browser and mobile device: This information is used in the aggregate to help us optimize the Service for common browsers and devices.</li>
						<li>Usage information, such as the pages you request, searches you conduct and the features and emails from Worth the Tip that you interact with: This information is used in an aggregate form to generate statistics about how the Service is being used and to target advertising and communications (as further described under “Partners and Advertisers”, below), but is never shared in any form that could be reasonably used to identify you personally.</li>
						<li>IP address, cookies, tokens and device identifiers: These are alphanumeric identifiers that help us to distinguish between unique browsers and devices in order to avoid showing you the same information twice, keep you logged into Worth the Tip, prevent duplicate actions, prevent duplicate coupon redemptions and improve your experience. You can learn more about cookies below.</li>
						<li>Crashes and error reports: If you encounter a crash or error while using our Service, we may generate a crash report that includes technical, usage and, if you are logged in, your Account information so that we can diagnose and potentially prevent the problem in the future.</li>
						<li>We use third party tools to collect this information on our behalf, including Flurry, Google Analytics and NewRelic.</li>
					</ul>
				</p>

				<p>You can read Flurry's Privacy Policy and how to opt out here:<br>
				www.flurry.com/privacy-policy.html<br>
				www.flurry.com/user-opt-out.html</p>

				<p>You can read about Google Analytics' Privacy Practices here:<br>
				www.google.com/analytics/learn/privacy.html<br>
				www.google.com/policies/privacy/</p>

				<p>You can read NewRelic's Privacy Policy here:<br>
				www.newrelic.com/privacy</p>

				<h3>WILL WORTH THE TIP SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h3>

				<p>While we may use and share your Public Information with third parties as permitted by our Terms of Service (http://worththetip.io/terms) and you should only upload Public Information if you’re comfortable with all of these terms, we will never share any other Personal Information with third parties, except in the following scenarios or with your explicit consent:<p>
					<ul>
						<li>Agents, Including Employees, Contractors and Service Providers: To achieve the purposes described above, we employ the services of individuals (such as employees, contractors and lawyers) and companies (such as consultants and service providers such as a push notification delivery service) to perform tasks on our behalf and may need to share certain information with them in order to provide products or services to you. However, our agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us in providing the service to you as described in this Privacy Policy.</li>
						<li>Change of Control: In the event that all or a substantial portion of the assets, business or stock of Worth the Tip are acquired by, merged with or transferred to another party, or in the event that Worth the Tip goes out of business or enters bankruptcy, your information would be one of the assets that is transferred to or acquired by the third party. You acknowledge that such transfers may occur, and that any acquirer of Worth the Tip or its assets may continue to use your Personal Information as set forth in this policy.</li>
						<li>Protection of Worth the Tip and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Worth the Tip, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. That said, any legal defenses or objections you may have to a third party’s request for your information, including a government, still apply.</li>
					</ul>
				</p>

				<p>We will not share your Personal Information with the following parties without your explicit consent:</p>
					<ul>
						<li>Partners and Advertisers: While we may provide aggregate usage and demographic information to partners and advertisers to help them understand our audience and target their communications accordingly, we never provide your Personal Information to partners or advertisers directly, nor do we disclose aggregate information to a partner or advertiser in a manner that would identify you personally. We encourage our Service partners to adopt and post privacy policies as well. However, the use of this aggregate information by our service partners, as well as any Personal Information you directly provide to partners or advertisers, is governed by the privacy policies of those service partners and is not subject to our control.</li>
						<li>Contests by Third Parties: Third parties may host contests and sweepstakes using Worth the Tip in accordance with our Terms of Service. We cannot be responsible for information you provide directly to third parties, via the Service or otherwise, however we will not provide your email address to third parties without your consent, which you may provide by choosing to enter such a promotion, in accordance with the promotion rules. Worth the Tip may send contest-related communications directly to you on a third party’s behalf.</li>
				
				<h3>WHAT CHOICES DO I HAVE?</h3>

				<p>We will not use or share your Personal Information for any purpose other than those described in this document without your explicit consent. Even when using your information for the purposes described in this document, we strive to give you control in the following ways:</p>
					<ul>
						<li>You can access, delete or correct your information as described below.</li>
						<li>You can choose not to receive certain types of emails, as described below.</li>
						<li>You can choose to disable cookies, as described below.</li>
						<li>You can control when and whether content posted to third party services, such as Facebook or Twitter, using both settings provided by Worth the Tip (log in and go to http://worththetip.io/settings) and settings provided by the third party service.</li>
						<li>You can choose not to provide any of the public or private information described above in the first place.</li>
					</ul>
				</p>
				
				<p>If you do not wish to have your Personal Information used or shared as described in this document, please discontinue use of the Worth the Tip Service or do not provide such information.</p>

				<h3>How can I access or delete my personal information?</h3>

				<p>You can view, update, correct and remove your Personal Information as described in our Terms of Service. In particular, if you have created a Worth the Tip Account, you can log in and visit http://worththetip.io/edit_account to:</p>
					<ul>
						<li>View, update, correct and remove the Private and Public Profile Information you have provided</li>
						<li>View and modify the Public Information you have created or provided</li>
						<li>Reset your password using your Account email address (your password itself is never visible)</li>
						<li>Change your email preferences</li>
						<li>Disable your account by following the instructions in our Terms of Service</li>
					</ul>
				</p>
				
				<p>As explained in our Terms of Service, you may not be able to remove all of your Public Information, such as dishes you added that others have bookmarked, but by disabling your account, you can disassociate that information from other Personal Information. You can also contact us at support@worththetip.io if you would like to disable your account or if you have any questions or concerns about your Personal Information.</p>

				<h3>How will you use my email address?</h3>

				<p>If you choose to provide your email address to Worth the Tip by creating an optional Account or otherwise choosing to provide it to us, we will use it only to send communications directly from or related to the Service, such as:</p>
					<ul>
						<li>Occasional announcements about product updates or improvements.</li>
						<li>Notifications when others interact with you or your public content on Worth the Tip.</li>
						<li>Recommended content from Worth the Tip that we think might be interesting to you.</li>
						<li>Food-related offers, rewards or recommendations from Worth the Tip.</li>
						<li>Contest-related communications if you participate in a contest or promotion hosted by Worth the Tip or by a third party using the Worth the Tip platform to host a contest or promotion.</li>
						<li>Notices when we make material changes to our Privacy Policy or Terms of Service.</li>
						<li>Personal messages related to the Service, your use of the Service or our Terms of Service.</li>
					</ul>
				</p>
				
				<p>You can opt out of any automated notifications or communications sent via the Service by following the instructions included with each email or by visiting http://worththetip.io/ however Worth the Tip employees, contractors or agents may still need to contact you personally, for example, if you are in violation of our Terms of Service.</p>

				<p>We also use your email address to help others find you: If another Worth the Tip user already knows your email address, they may search for and find your Worth the Tip profile using your email address. Only your Public Information will ever be visible to other users, however, even if they know your email address.</p>

				<h3>How will you use cookies?</h3>

				<p>As described above, we occasionally create “cookies”—bits of alphanumeric information that are stored by your browser or mobile device—in order to identify your browser or mobile device. These cookies are like “breadcrumbs” left behind by the Service to remind us that you’ve used it before so that we can improve your experience. By using Worth the Tip, you agree to let us create cookies that enable us to do things like:</p>
					<ul>
						<li>Keep you logged into Worth the Tip so that you don’t have to log in again every time you close your browser.</li>
						<li>Remember the last location you entered on Worth the Tip so that you don’t have to enter your location again and again.</li>
						<li>Display announcements when you first visit Worth the Tip but not every time you visit.</li>
						<li>Remember certain preferences you might set.</li>
						<li>Collect usage information for statistical purposes as described above.</li>
					</ul>
				</p>

				<p>Additionally, we may integrate third party services—such as the Facebook “Like” button—which may create their own cookies in order to personalize your experience, but this policy only covers the use of cookies by Worth the Tip. Cookies placed by third party services are governed by the third party terms and privacy policies applicable to those services (which we encourage you to read).</p>

				<p>Most browsers have an option for turning off cookies altogether, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. We strongly recommend that you leave cookies activated, however, because cookies enable you to enjoy a less frustrating, more personalized experience. Certain features of the Service may not work at all if cookies are disabled.</p>

				<h3>HOW DO YOU PROTECT MY PERSONAL INFORMATION?</h3>

				<p>Personal Information is transmitted to and stored by Worth the Tip using industry-standard methods for each type of information. Our databases and servers are protected from unauthorized access using modern security and authentication methods such as passwords and access keys.</p>

				<p>No method of transmitting or storing data can be guaranteed to be 100% secure, however. While we endeavor to protect your Personal Information, we cannot guarantee that it will not be viewed, tampered with or intercepted by an unauthorized third party. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of your Personal Information.</p>

				<p>We will notify you by email if we have reason to believe that your Personal Information has been compromised due to a security breach or used in an unauthorized manner, but by using this Service, you agree to release us from any and all claims arising out of unauthorized use of your information.</p>

				<p>Per our Terms of Service, you are ultimately the one responsible for ensuring the safety of your Personal Information by taking measures including, but not limited to:</p>
					<ul>
						<li>Keeping your email address and password safe</li>
						<li>Creating strong passwords and using them wisely (e.g.. don’t use the same password for Worth the Tip and your bank, for example)</li>
						<li>Making sure that any internet connection you’re using to access the Service is secure and trusted</li>
						<li>Only uploading photos and other Public Information if you are comfortable with it being public</li>
						<li>Being careful about what information you provide to third parties</li>
						<li>Being aware of whether you are using the Worth the Tip Service or have navigated to a third party service (e.g., by referencing your browser’s location bar)</li>
					</ul>
				</p>
				
				<p>The Service contains links to third party websites and mobile applications. Worth the Tip is not responsible for the privacy policies and/or practices of third parties. When navigating to another site you should read the privacy policy stated on that site.  This Privacy Policy only governs information collected on the Service.</p>

				<h3>WHAT WILL HAPPEN IF YOU CHANGE THIS POLICY?</h3>

				<p>Worth the Tip may amend this Privacy Policy from time to time. If we make changes to the way we use Personal Information or material changes to this policy, we will notify you by delivering an announcement via our Service or your Account email address. If you opt out of communications from Worth the Tip, you may not receive these notifications, however they will still govern your use of the Service, and you are responsible for proactively checking for any changes. If you continue to use the Service after changes have been posted, you agree to abide by and be bound by the modified privacy policy. </p>

				<h3>Questions or Concerns</h3>

				<p>If you have any questions or concerns regarding this Privacy Policy or your Personal Information, please contact support@worththetip.io and we will make every effort to resolve your concerns.</p>
			  </div>
			</div>
		</div><!-- end col-md-6 col-md-offset-3 -->
	</div><!-- end row -->
</div><!-- end container -->