<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1>Terms of Service</h1>
		</div><!-- col-md-6 col-md-offset-3 -->
	</div><!-- end row -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p><small>Effective on May 27th, 2016</small></p>

				<p>At Worth the Tip, Inc., (“Worth the Tip,” “we,” “our” or “us”), our small team works hard to provide a service via our website (Worth the Tip.com) and mobile applications (including any other features, content or applications offered from time to time by Worth the Tip, the “Service” or “Services”) to help users (“Users,” “you,” “your”) find and share great dishes from restaurants around the world.</p>

				<p>You can use Worth the Tip to find visual and verbal information about great dishes around you, as well as other information, data and content (“Content”) created by Worth the Tip, Worth the Tip users (“User Generated Content”) or provided by third parties (“Third Party Content”).</p>
				
				<p>You can optionally create a Worth the Tip account (“Your Account” or “Account”) so that you can create, upload, and share Content about yourself (such as your public profile information or profile picture) and about dishes that you want, try or love (“Your Content”).</p>

				<p>By using the Worth the Tip Services, including but not limited to visiting the Worth the Tip website or using the iPhone, Android, BlackBerry and Windows Phone applications, whether as a registered or unregistered user, you acknowledge that:</p>

				<p>You are over 13 years of age. (This Service is not targeted towards children under the age of 13, nor do we knowingly collect information about children under the age of 13.)</p>

				<p>You have read and agree to be bound by these Terms of Service and our Privacy Policy (http://www.worththetip.com/privacy), which is incorporated by reference.</p>
				
				<p>If you use the Worth the Tip for any commercial, business or promotional purposes, you must additionally read and accept the Commercial and Promotional Use Terms, which are incorporated by reference (http://worththetip.com/commercial_terms).</p>

				<p>If you use the Worth the Tip application programming interface (“Worth the Tip API” or “API”), you must additionally accept the API Terms, which are incorporated by reference (http://Worth the Tip.com/api_terms).</p>

				<p>These Terms of Service, together with the Worth the Tip Privacy Policy, the Commercial and Promotional Use Terms and the API Terms are collectively known from this point forward as the “Terms of Service,” “Terms” or “TOS”).</p>

				<p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE USING THE Worth the Tip SERVICES.  THESE TERMS OF SERVICE SET FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE Worth the Tip SERVICES.  BY THE Worth the Tip SERVICES IN ANY MANNER, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE TO THE EXCLUSION OF ALL OTHER TERMS.  IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF AN ENTITY, THEN YOU REPRESENT AND WARRANT THAT YOU ARE AUTHORIZED TO BIND SUCH ENTITY TO THE TERMS OF THIS AGREEMENT.</p>

				<p>If you do not agree to or are uncomfortable with these Terms of Service, please do not use the Service.</p>

				<h3>Using This Service</h3>

				<p>THE WORTH THE TIP SERVICE IS PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. PLEASE REVIEW ALL DISCLAIMERS BELOW.</p>

				<p>We reserve the right to modify, restrict access to or terminate the Service or any features of the Service for any reason, without notice, at any time.</p>
				<p>You understand that this is an online Service that requires data to be transferred to and from the Worth the Tip servers and databases via your network connection in order to function. </p>
				
				<p>You are responsible for any fees charged by your internet service provider or mobile carrier for using these Services, including, but not limited to data transfer fees.</p>
				
				<p>You are responsible for ensuring that any networks you are using to access the Worth the Tip Services are secure and will not hold Worth the Tip responsible for any consequences of using the Service on an unsecure network.</p>

				<p>You understand that Worth the Tip uses third party vendors and hosting providers to provide the necessary hardware, software, networking, storage and related technology required to run the Service but strives to protect your information per our Privacy Policy.</p>
				
				<p>The Worth the Tip Services may be supported by advertising revenue and may display advertisements and promotions. These advertisements may be targeted based on Content, Your Content, queries or other information, but all of your personal information will be protected in accordance with our Privacy Policy. The manner, mode, and extent of advertising by or permitted by Worth the Tip are subject to change without specific notice to you. In consideration for Worth the Tip granting you access to and use of the Services, you agree that Worth the Tip may display such advertising throughout the Service you will not block such advertising from appearing.</p>

				<p>Worth the Tip reserves the right to charge for certain features of the Service. Should Worth the Tip do so and should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Services in connection with such features.</p>

				<p>You will not use the Worth the Tip Service in a manner inconsistent with its intended uses, including but not limited to using Worth the Tip as a generic image hosting service or to serve assets.</p>

				<p>If you are dissatisfied with the Service, please provide feedback through the provided feedback mechanisms. Your only other remedy (and Worth the Tip’s sole liability) with respect to any dissatisfaction with (i) the Service, (ii) the Terms of Service or Privacy Policy, (iii) any policy or practice of Worth the Tip in operating the Service, or (iv) any content or information transmitted through the Service, is to cease using Worth the Tip and to remove Your Content and terminate Your Account, if you have created one.</p>

				<p>You hereby grant Worth the Tip a royalty-free, worldwide, transferable, sublicensable, irrevocable, perpetual license to use or incorporate into the Service any suggestions, enhancement requests, recommendations or other feedback that you provide to Worth the Tip relating to the operation of the Service.</p>

				<p>We use the Facebook, Twitter, Foursquare, Tumblr, Flickr and Instagram APIs but are not endorsed or certified by any of these parties. All logos and trademarks are the property of their respective parties. Be sure to view each party's Privacy Policy &amp; Terms of Service before sharing.</p>

				<h3>Consuming Content</h3>

				<p>BECAUSE WORTH THE TIP RELIES ON USER GENERATED CONTENT AND THIRD PARTY CONTENT, CONTENT IS PROVIDED “AS IS” AND WORTH THE TIP MAKES NO REPRESENTATIONS OR WARRANTIES CONCERNING THE APPROPRIATENESS, ACCURACY, RELIABILITY, USEFULNESS, COMPLETENESS OR TIMELINESS OF ANY CONTENT. ANY USE OF OR RELIANCE ON ANY CONTENT IS AT YOUR OWN RISK.</p>

				<p>By using the Service, you agree that Worth the Tip shall not be responsible for (1) any Content, (2) any person’s reliance on any such Content, whether or not correct, current and complete, or (3) the consequences of any action that you or any other person takes or fails to take based on any Content or otherwise as a result of your use of the Service.</p>

				<p>Worth the Tip does not endorse and has no control over any User Generated Content. Worth the Tip cannot guarantee the authenticity of any data which users may provide about themselves. Worth the Tip has no obligation to monitor the Service, Content, or User Generated Content.</p>

				<p>Under no circumstances will Worth the Tip be liable in any way for any Content or User Generated Content, including, but not limited to, any errors or omissions in any Content or User Generated Content, or any loss or damage of any kind incurred in connection with use of or exposure to any Content or User Generated Content posted, emailed, accessed, transmitted or otherwise made available via the Service.  Worth the Tip is not responsible for any data which is deleted (either intentionally or unintentionally) at the direction of any user.</p>

				<p>The Services may contain links to third party services or resources. When you access third party services, you do so at your own risk. These other services are not under Worth the Tip’s control, and you acknowledge that Worth the Tip is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such services or resources. The inclusion of any such link does not imply endorsement by Worth the Tip or any association with its operators.  You further acknowledge and agree that Worth the Tip shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such Content, goods or services available on or through any such website or resource.</p>

				<p>You may be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate. While Worth the Tip does not endorse and reserves the right to remove such Content, you acknowledge that you nonetheless may be exposed to such materials.</p>

				<p>You may not use Content without written permission from Worth the Tip or the original license holder. If Worth the Tip grants permission to use any photos hosted on the Service, the following caption (or an agreed-upon alternative) must be placed directly adjacent to any such photos: “Photo by [Worth the Tip User’s Display Name]. Used by permission from Worth the Tip.” Use of any Worth the Tip images must not violate any of the terms and conditions found in our Terms of Service.</p>

				<p>Some of the Service's mapping features are powered by Google Inc., the use of which is also governed by the terms of use located at http://maps.google.com/help/terms_maps.html (or such other URL as may be updated by Google Inc), which are incorporated herein by this reference.</p>

				<h3>Creating Accounts</h3>

				<p>To contribute Your Content to Worth the Tip or to access certain features of the Service, you must create an Account.</p>

				<p>To create an Account, you may be required to provide Personal Information (as defined in the Worth the Tip Privacy Policy) about yourself, including but not limited to your email address.</p>

				<p>You are responsible for ensuring that any Personal Information you provide is accurate and up to date.</p>

				<p>We are not responsible for ensuring that communications reach Your Account email address.</p>

				<p>You are responsible for creating a secure password and protecting Your Account from unauthorized access.</p>

				<p>You will be held responsible for any activity that occurs under Your Account.</p>

				<p>We do not have access to your password once it’s generated, but we can enable you to or require you to reset your password.</p>

				<p>You will not impersonate, abuse, harass, threaten or intimidate other people from Your Account.</p>

				<h3>Contributing Content</h3>

				<p>By choosing to contribute Your Content to Worth the Tip, you acknowledge and agree to the following terms and our Privacy Policy. You should only contribute Content to Worth the Tip if you are comfortable with these terms.</p>

				<p>You will contribute accurate photos and information. Content that is inaccurate, offensive, indecent, inaccurate, objectionable, or otherwise inappropriate may be flagged and removed without notice.</p>

				<p>You must own the rights to any Content you contribute. All content posted on the Service must comply with all applicable laws (including, without limitation, Canadian and U.S. copyright law). You represent and warrant that (i) You own or otherwise possess all rights to use Your Content; (ii) You have the permission to use the name and likeness of each identifiable individual person and to use such individual's identifying or personal information; (iii) You are authorized to grant all of the rights described in these Terms of Service; and (iv) the use of Your Content as contemplated by these Terms of Service will not infringe or violate any intellectual property, privacy, publicity, contract or other rights of any person or entity. If you do not have the right to submit Content for such use, it may subject you to liability. Worth the Tip will not be responsible or liable for any use of Your Content by Worth the Tip in accordance with these Terms of Service. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.</p>

				<p>You will be held solely responsible and liable for Your Content and conduct on the Worth the Tip Service.</p>

				<p>Your Content will be publicly visible throughout the Worth the Tip Service.</p>

				<p>Your Content, including your public account information such as your display name or profile picture, may be indexed by third party search engines, such as Google, which may not remove it immediately (or ever), even if it is removed from the Worth the Tip Service.</p>

				<p>Your Content may be licensed to third parties who have agreed to the API Terms of Service, or otherwise licensed it from Worth the Tip, as described in our Privacy Policy.</p>

				<p>Your Content may be modified or adapted (for example, photos may be cropped) in order to meet design and technical requirements of the Service or for any other reason.</p>

				<p>You are responsible for retaining original copies of Your Content.</p>

				<p>Because other Worth the Tip users may have acted on Your Content (for example, bookmarking a dish you recommended), you may not be able to remove or edit Your Content once you’ve contributed it to Worth the Tip. We have made reasonable efforts to enable you to delete Your Content and disable Your Account, which disassociates Your Content from Your Account, but we cannot guarantee complete removal.</p>

				<p>Your Content always belongs to you. You retain copyright and any other rights you already hold in Your Content, but by uploading, posting, contributing, or otherwise providing Your Content to Worth the Tip, you grant Worth the Tip a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit Your Content in connection with the Service and Worth the Tip’s (and its successors’ and assigns’) business, including without limitation for promoting and redistributing part or all of the Services (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third party services).</p>

				<p>For clarity, the foregoing license grant to Worth the Tip does not affect your other ownership or license rights in Your Content, including the right to grant additional licenses to the material in Your Content, unless otherwise agreed in writing.</p>

				<p>We will encourage any third parties to whom we sublicense Your Content to attribute you, in addition to Worth the Tip, but you acknowledge that this may not always be possible depending on the context.</p>

				<p>Be sure to review our Privacy Policy to better understand how your public and private information is used and protected.</p>

				<h3>Removal of Your Account and Your Content</h3>

				<p>You may disable Your Account via the Worth the Tip website. If you disable Your Account, we will use commercially reasonable efforts to stop displaying any public Account information (such as your Display Name) throughout the Service. Disabling Your Account anonymizes Your Content but does not automatically remove it.</p>

				<p>You may delete certain types of Your Content via the Worth the Tip website, but because other Worth the Tip users may have acted on Your Content (for example, bookmarking a dish you recommended), you may not be able to remove or edit Your Content entirely once you’ve contributed it to Worth the Tip.</p>

				<p>We reserve the right to monitor and review Your Account, Your Content and Your activity for compliance with these Terms of Service.</p>

				<p>We reserve the right to remove or disable Your Account or Your Content for any reason, including, but not limited to, violation of Terms of Service, alleged infringement or verbal, physical, written or other abuse of a Worth the Tip user, employee, member or officer. Doing so could immediately prevent you from accessing Your Account, Your Content or the Service.</p>

				<p>We will do our best to communicate with you via Your Account email address prior to removal of Your Account or Your Content, but are not obligated to do so and cannot be responsible for failure to reach you via email.</p>

				<p>We cannot guarantee access to Your Account or Your Content.</p>
				
				<p>We have no obligation to retain or provide you with copies of Your Content. You are responsible for backing up and archiving Your Content.</p>

				<p>We reserve the right to reclaim any username created by a Worth the Tip user on behalf of businesses or individuals that hold legal claim or trademark on that username.</p>

				<p>We also reserve the right to reclaim any username created by a Worth the Tip user that has been inactive for 6 months or more. Your Account may be permanently disabled due to prolonged inactivity.</p>

				<h3>Survival Upon Termination</h3>

				<p>In the event of the termination of Your Account, all provisions of the Terms of Service, which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

				<h3>Restrictions on Use</h3>

				<p>As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Service.  The Service (including, without limitation, any Content, or User Generated Content) is provided only for your own personal, non-commercial use.  You are responsible for all of your activity in connection with the Service. By way of example, and not as a limitation, you shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any content on or through the Service, that:
					<ul>
						<li>infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity;</li>
						<li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, obscene, offensive, or profane;</li>
						<li>constitutes unauthorized or unsolicited advertising, junk, spam or bulk e-mail (including without limitation any postings to third party social media Services which are linked to the Service);</li>
						<li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of Worth the Tip or any third party;</li>
						<li>impersonates any person or entity, including any employee or representative of Worth the Tip.</li>
					</ul>
				</p>

				<p>Additionally, you shall not: (i) take any action that imposes or may impose (as determined by Worth the Tip in its sole discretion) an unreasonable or disproportionately large load on Worth the Tip’s (or its third party providers’) infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures Worth the Tip may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); or (iv) use manual or automated software, devices, or other processes to “crawl” or “spider” any page of the Services.</p>

				<p>You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Service, or (iii) copy, rent, lease, distribute, or otherwise transfer any or all of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations.</p>

				<p>Worth the Tip reserves the right to remove any Content from the Services at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Worth the Tip is concerned that you may have violated the Terms of Service), or for no reason at all.</p>

				<h3>Warranty Disclaimer</h3>

				<p>Worth the Tip has no special relationship with or fiduciary duty to you. You acknowledge that Worth the Tip has no control over, and no duty to take any action regarding: which users gains access to the Service; what Content you access via the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Worth the Tip from all liability for you having acquired or not acquired Content through the Services. The Services may contain, or direct you to third party services containing, information that some people may find offensive or inappropriate. Worth the Tip makes no representations concerning any content contained in or accessed through the Services, and Worth the Tip will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Services.</p>

				<p>THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.  Worth the Tip, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT: (A) THAT THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) THAT ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; (D) THE INTEGRITY OR SECURITY OF ANY USER SUBMISSION OR OTHER DATA PROVIDED TO THE SERVICE; OR (E) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS.  YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

				<p>ELECTRONIC COMMUNICATIONS PRIVACY ACT NOTICE (18 USC 2701-2711): Worth the Tip MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SERVICES OR ANY WEBSITE LINKED TO THE SERVICES.</p>

				<p>While we strive to protect your information in accordance with our Privacy Policy, Worth the Tip can not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on Worth the Tip’s equipment, transmitted over networks accessed by the Services, or otherwise connected with your use of the Service.</p>

				<h3>Indemnification</h3>

				<p>You shall defend, indemnify, and hold harmless Worth the Tip, its affiliates and each of its, and its affiliates  employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to (i) your use or misuse of, or access to, the Services, Service, Content or otherwise from your User Generated Content, (ii) your violation of the Terms of Service, or (iii) infringement by you, or any third party using Your Account, of any intellectual property or other right of any person or entity.  Worth the Tip reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Worth the Tip in asserting any available defenses.</p>

				<h3>Limitation of Liability</h3>

				<p>IN NO EVENT SHALL WORTH THE TIP, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR YOUR RELIANCE ON THE SERVICE OR (IV) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00).  SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>

				<h3>International/Non-BC Use</h3>

				<p>Worth the Tip makes no representation that the Content is appropriate or available for use in locations outside of British Columbia, and accessing the Service is prohibited from territories where such Content is illegal.  If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.</p>

				<h3>Dispute Resolution</h3>

				<p>A printed version of the Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.  You and Worth the Tip agree that any cause of action arising out of or related to the Service must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.</p>

				<p>The Terms of Service shall be governed by and construed in accordance with the laws of the province of British Columbia, excluding its conflicts of law rules, and the United States of America.  Any dispute arising from or relating to the subject matter of this Agreement shall be finally settled by binding arbitration in Vancouver, BC, using the English language in accordance with the Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. (“JAMS”) then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with the Arbitration Rules and Procedures of JAMS. The prevailing party in the arbitration shall be entitled to receive reimbursement of its reasonable expenses (including reasonable attorneys’ fees, expert witness fees and all other expenses) incurred in connection therewith.  Judgment upon the award so rendered may be entered in a court having jurisdiction or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be.  Notwithstanding the foregoing, each party shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending a final decision by the arbitrator.  For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the United States Federal Courts located in the Northern District of California. Use of the Service is not authorized in any jurisdiction that does not give effect to all provisions of the Terms of Service, including without limitation, this section.</p>

				<p>YOU AND Worth the Tip AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. FURTHER, UNLESS BOTH YOU AND Worth the Tip AGREE OTHERWISE, THE ARBITRATOR MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING. The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim.</p>

				<h3>Integration and Severability</h3>

				<p>The Terms of Service are the entire agreement between you and Worth the Tip with respect to the Service and use of the Services, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and Worth the Tip with respect to the Services.  If any provision of the Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Service will otherwise remain in full force and effect and enforceable.  The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>

				<h3>Miscellaneous</h3>

				<p>Worth the Tip shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Worth the Tip’s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation.  The Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with Worth the Tip’s prior written consent.  Worth the Tip may assign, transfer or delegate any of its rights and obligations hereunder without consent.  No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Service and neither party has any authority of any kind to bind the other in any respect.  In any action or proceeding to enforce rights under the Terms of Service, the prevailing party will be entitled to recover costs and attorneys’ fees.  All notices under the Terms of Service will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.</p>

				<h3>Copyright and Trademark Notices</h3>

				<p>Unless otherwise indicated, the Terms of Service and all Content provided by Worth the Tip are copyright © 2016 Worth the Tip, Inc.  All rights reserved.</p>

				<p>Worth the Tip and look and feel of the Worth the Tip Services, HTML/CSS, graphical assets or trademarks, including the “Worth the Tip” word mark, are either trademarks or registered trademarks of Worth the Tip. The names of any actual companies and products mentioned at the Services may be the trademarks of their respective owners.</p>

				<h3>Worth the Tip and Third Party Proprietary Information</h3>

				<p>The material, Content, and Services accessible from this website, including, but not limited to, the Worth the Tip API, and any other website owned, operated, licensed, or otherwise controlled by Worth the Tip (the “Services Content”) is the proprietary information of Worth the Tip or the party that provided or licensed the Services Content to Worth the Tip, whereby such providing party retains all right, title, and interest in the Services Content. Accordingly, the Services Content may not be copied, decompiled, reverse engineered, disassembled, transferred, distributed, republished, resold, sublicensed, uploaded, posted, used to create derivative works, or transmitted in any way without the prior written consent of Worth the Tip, except that you may print out a copy of the Services Content solely for your personal use. In doing so, you may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Services Content. Modification or use of the Services Content except as expressly provided in these Terms of Use violates Worth the Tip’s intellectual property rights. Neither title nor intellectual property rights are transferred to you by access to this website. Notwithstanding this provision, users of Worth the Tip Services and the website are not permitted to use the Services Content as a component of, or basis for, a database prepared for use by the said user or any third party. Furthermore, all copies of Services Content, whether in print or electronic form, must incorporate all of Worth the Tip’s or third party copyright and / or other intellectual property rights notices.</p>

				<p>Worth the Tip’s rights apply to the Worth the Tip API and all output and executables of the Worth the Tip API, excluding any software components developed by you which do not themselves incorporate the Worth the Tip APIs or any output or executables of the Worth the Tip API. Worth the Tip owns all rights, title, and interest in the Worth the Tip API.</p>

				<h3>Digital Millennium Copyright Act Notice </h3>

				<p>We care about legitimate copyright infringement. It is Worth the Tip's policy to respond to notices of alleged copyright infringement that comply with applicable international intellectual property law (including, in the United States, the Digital Millennium Copyright Act) and to terminate the accounts of repeat infringers.</p>

				<p>To file a claim of infringement, please use the format suggested by the United States Digital Millennium Copyright Act (the text of which can be found at the U.S. Copyright Office Web Service) to send a notice -- including (1) identification of the copyrighted work claimed to have been infringed (or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site); (2) the location of the material that is claimed to be infringing in sufficient detail so that we may find it on the Service, (3) adequate contact information for us to contact you promptly (phone number and email address is preferred), (4) the statement: “I have a good faith belief that use of the copyrighted materials described above as allegedly infringing is not authorized by the copyright owner, its agent, or the law. I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed,” and (5) a digital or physical signature of a person authorized to act on behalf of the owner of the exclusive right that is allegedly infringed -- to Worth the Tip’s designated Copyright Agent to receive notification of claimed infringement, at following address:<br>
				<br>
				Worth the Tip, Inc.<br>
				301 - 601 Maude Road<br>
				Port Moody, V3H5B1 BC<br>
				copyright@worththetip.io</p>

				<p>Be aware that if you materially misrepresent that a product or activity is infringing your copyrights, you may be liable for any damages (including costs and attorneys' fees). If you are not sure whether material available online infringes your copyright, we suggest that you first contact an attorney.</p>

				<h3>Modifications to Terms</h3>

				<p>Worth the Tip reserves the right, at its sole discretion, to amend these Terms of Service from time to time. If we make material changes to these Terms of Service, we will notify you by delivering an announcement via our Service or Your Account email address. If you opt out of communications from Worth the Tip, you may not receive these notifications, however they will still govern your use of the Service, and you are responsible for proactively checking for any changes. If you continue to use the Service after changes have been posted, you agree to be bound by the changes.</p>

				<h3>Questions or Concerns</h3>

				<p>If you have any questions or concerns about these terms of service, please contact support@worththetip.io and we will do our best to address them.</p>
			  </div>
			</div>
		</div><!-- end col-md-6 col-md-offset-3 -->
	</div><!-- end row -->
</div><!-- end container -->