body {
  /*font-family: 'Raleway', sans-serif !important;*/
  font-family: 'Open Sans', sans-serif !important;
}

.facebook-custom-font-size, .twitter-custom-font-size, .instagram-custom-font-size {
	font-size: 3em !important;
}

.facebook-custom-font-size {
	color: #3b5998;
}

.instagram-custom-font-size {
	color: #f77737;
}

.twitter-custom-font-size {
	color: #55acee;
}

.no-padding-in-panel-body {
	padding: 0px !important;
}

.padding-in-panel-body {
	padding: 15px;
}