<hr>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&copy; 2016 Worth The Tip</p>
			</div><!-- end col-md-12 -->
		</div><!-- end row -->
		<div class="row">
			<div class="col-md-12">
				<p><%= link_to "Terms and Conditions", terms_path %> | <%= link_to "Privacy Policy", privacy_path %></p>
			</div><!-- end col-md-12 -->
		</div><!-- end row -->
	</div><!-- end container -->
</footer>